/* Dashboard Layout */

.dashboard {
    display: flex;
    flex: 2;
    flex-direction: column;
    align-items: center;
    width: 100%;

    box-sizing: border-box;

    padding: 7px;
    gap: 10px;

    background-color: rgb(166, 206, 190);
    color: rgb(31, 61, 46);
}

/* Dashboard Sections */

.dashboard-sections {
    width: 100%;

    border-radius: 5px;
    background-color: rgb(250, 249, 240);

    text-align: center;
    justify-items: center;
}


/* Dashboard Header */

.dashboard-header {
    width: 250px;

    padding-top: 3px;

    border-radius: 5px;

    background-color: rgb(9, 59, 31);
    color: white;

    text-align: center;
}

.dashboard-header h2 {
    margin: 0;

    text-align: center;
}


/* Dashboard Stats */

.dashboard-stats {
    display: flex;
    gap: 20px;
}

.stat-card p {
    padding: 15px 0;
    border-radius: 15px;

    border: solid 1px rgb(185, 216, 199);
    background-color: rgb(225, 245, 230);
}

.stat-card h3 {
    padding: 5px 10px;
    border-radius: 5px;

    background-color: rgb(66, 110, 86);
    color: white;
}


/* Section Headings */

section h2 {
    text-align: center;
    margin-top: 0;

    height: 40px;
    width: 100%;

    background-color: rgb(66, 110, 86);
    color: white;
}


/* Tables */

section table {
    width: 100%;

    border-collapse: collapse;
}

section th,
section td {
    padding: 6px 12px;

    white-space: nowrap;
}

section td {
    border: solid 1px rgb(179, 219, 191);
}

/* Recent Data */

.recent-orders,
.recent-notifications {
    width: 100%;
}

.no-data {
text-align: center;
}

/* RECENT ORDERS */

.dashboard .recent-orders h2 {
    margin-bottom: 0;
    height: 45px;
}

.dashboard .recent-orders thead {
    background-color: rgb(225, 245, 230);
}

/* RECENT NOTIFICATIONS */

.dashboard .recent-notifications h2 {
    margin-bottom: 0;
    height: 45px;
}

.dashboard .recent-notifications thead {
    background-color: rgb(225, 245, 230);
}

/* VIEW ALL LINKS */

.view-all-resource {
    text-align: center;
    justify-self: center;
    padding: 10px;

    margin: 10px 0;

    border: solid 1px rgb(201, 230, 214);
    border-radius: 5px;

    width: fit-content;

    background-color: rgb(235, 247, 238);
    color: rgb(66, 110, 86);
}

.view-all-resource a:visited {
    color: rgb(46, 95, 68);
}

.view-all-resource a:hover {
    color: rgb(148, 104, 63);
}