.notifications {
    display: flex;
    flex: 2;
    flex-direction: column;
    align-items: center;
    width: 100%;

    box-sizing: border-box;

    padding: 7px;
    gap: 10px;

    color: rgb(31, 61, 46);
}

.notifications-header {
    width: 250px;
    border-radius: 5px;

    background-color: rgb(9, 59, 31);
    color: white;

    text-align: center;
}

/* ALL NOTIFICATIONS */

.all-notifications {
    width: 100%;
    background-color: rgb(250, 249, 240);
    border-radius: 5px;
}

.all-notifications h2 {
    margin: 0 auto;
    width: 100%;
    border-radius: 5px 5px 0 0;
    text-align: center;

    height: 40px;

    background-color: rgb(66, 110, 86);
    color: white;
}

.all-notifications thead {
    background-color: rgb(208, 236, 220);
}

.notifications .pagination {
    display: flex;
    gap: 10px;

    justify-self: center;
    justify-items: space-around;

    margin: 18px 0;
}

/* FIND NOTIFICATION */

.find-notification {
    display: flex;
    flex-direction: column;

    background-color: rgb(250, 249, 240);
    border-radius: 5px;

    width: 100%;

    box-sizing: border-box;
    align-items: center;

    gap: 9px;
}

.find-notification h2 {
    margin: 0 auto;
    width: 100%;
    border-radius: 5px 5px 0 0;
    text-align: center;

    height: 40px;

    background-color: rgb(66, 110, 86);
    color: white;
}

.find-notification p {
    margin: 0;
}

.find-notification-table {
    width: 100%;
}

/* CREATE NOTIFICATION */

.create-notification {
    background-color: rgb(250, 249, 240);
    padding-bottom: 7px;

    box-sizing: border-box;
    border-radius: 5px;
}

.create-notification h2 {
    text-align: center;
    height: 40px;

    border-radius: 0;
    margin: 0;
    border-radius: 5px 5px 0 0;

    background-color: rgb(66, 110, 86);
    color: white;
}

.create-notification form {
    display: flex;
    flex-direction: column;

    align-items: center;
    padding: 10px 0;

    gap: 8px
}

.notifications .find-and-create {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
}

.notifications .find-and-create > * {
    flex: 1;
}

.notifications .find-order {
    display: flex;
    flex-direction: column;

    background-color: rgb(250, 249, 240);
    border-radius: 5px;
    padding: 0 0 10px 0;

    box-sizing: border-box;
    align-items: center;

    gap: 6px;
}

.notifications .find-order h2 {
    text-align: center;
    height: 40px;

    border-radius: 5px 5px 0 0;
    width: 100%;
    margin: 0;

    background-color: rgb(66, 110, 86);
    color: white;
}

/* UDPATE NOTIFICATION */

.update-notification {
    display: flex;
    flex-direction: column;

    background-color: rgb(250, 249, 240);
    border-radius: 5px;

    width: 100%;
}

.update-notification form {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
    padding: 10px 0;

    gap: 8px;
    width: 100%;
    flex-wrap: wrap;
}

.update-notification-row {
    display: flex;
    flex-basis: 100%;
    justify-content: center;

    padding-top: 10px;
}

.update-notification h2 {
    text-align: center;
    margin-top: 0;

    border-radius: 5px 5px 0 0;
    height: 40px;

    background-color: rgb(66, 110, 86);
    color: white;
}

/* DELETE NOTIFICATION */

.delete-notification {
    background-color: rgb(255, 239, 239);
    width: 100%;
    border-radius: 5px;
    
    box-sizing: border-box;
}

.delete-notification form {
    display: flex;
    flex-direction: column;

    gap: 10px;
    margin: 20px;

    align-items: center;
}

.delete-notification h2 {
    text-align: center;
    border-radius: 5px 5px 0 0;
    margin-top: 0;

    height: 40px;

    background-color: rgb(97, 32, 32);
    color: white;
}

.delete-notification button {
    height: 40px;
    background-color: rgb(97, 32, 32);
    color: white;

    border-radius: 5px;
    border: none;

    margin-bottom: 0;
}

.delete-notification button:hover {
    background-color: rgb(212, 52, 52);
}