.orders-header {
    width: 250px;
    border-radius: 5px;

    background-color: rgb(9, 59, 31);
    color: white;

    text-align: center;
}

.orders {
    display: flex;
    flex: 2;
    flex-direction: column;
    align-items: center;
    width: 100%;

    box-sizing: border-box;

    padding: 7px;
    gap:  10px;

    color: rgb(31, 61, 46);
}


/* GET ALL ORDERS */

.all-orders {
    width: 100%;
    background-color: rgb(250, 249, 240);
    border-radius: 5px;
}

.all-orders h2 {
    margin: 0 auto;
    width: 100%;
    height: 40px;

    border-radius: 5px 5px 0 0;
    text-align: center;

    background-color: rgb(66, 110, 86);
    color: white;
}

.all-orders thead {
    background-color: rgb(208, 236, 220);
}


/* FIND ORDER */

.orders .find-order {
    display: flex;
    flex-direction: column;

    background-color: rgb(250, 249, 240);
    border-radius: 5px;

    width: 100%;

    box-sizing: border-box;
    align-items: center;

    gap: 9px;
}

.orders .find-order h2 {
    margin: 0 auto;
    width: 100%;
    border-radius: 5px 5px 0 0;
    text-align: center;

    height: 40px;

    background-color: rgb(66, 110, 86);
    color: white;
}

.orders .find-order button {
    height: 25px;
}

.orders .find-order p {
    margin: 0;
}

.orders .find-order .find-order-table {
    padding-bottom: 9px;
    width: 90%;
}


/* CONTAINER FOR UPDATE/CREATE */

.create-update-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
}

.create-update-container > * {
    width: 100%;
}

/* CREATE ORDER */

.create-order {
    background-color: rgb(250, 249, 240);
    padding-bottom: 7px;

    box-sizing: border-box;
    border-radius: 5px;
}

.create-order h2 {
    text-align: center;
    height: 40px;

    border-radius: 0;
    margin: 0;
    border-radius: 5px 5px 0 0;

    background-color: rgb(66, 110, 86);
    color: white;
}

.create-order form {
    display: flex;
    flex-direction: column;

    align-items: center;
    padding: 10px 0;

    gap: 8px
}

.create-order button {
    margin: 14px 0;
    height: 25px;
}


/* UPDATE ORDER */

.update-order {
    display: flex;
    flex-direction: column;

    background-color: rgb(250, 249, 240);
    border-radius: 5px;
}

.update-order form {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    padding: 10px 0;

    gap: 8px;
    width: 100%;
    flex-wrap: wrap;
}

.update-order h2 {
    text-align: center;
    margin-top: 0;

    border-radius: 5px 5px 0 0;
    height: 40px;

    background-color: rgb(66, 110, 86);
    color: white;
}

.update-order button {
    height: 27px;
    margin: 10px 0;
}


/* DELETE ORDER */

.delete-order {
    background-color: rgb(255, 239, 239);
    width: 100%;
    border-radius: 5px;
    
    box-sizing: border-box;
}

.delete-order form {
    display: flex;
    flex-direction: column;

    gap: 10px;
    margin: 20px;

    align-items: center;
}

.delete-order h2 {
    text-align: center;
    border-radius: 5px 5px 0 0;
    margin-top: 0;

    height: 40px;

    background-color: rgb(97, 32, 32);
    color: white;
}

.delete-order button {
    height: 40px;
    background-color: rgb(97, 32, 32);
    color: white;

    border-radius: 5px;
    border: none;

    margin-bottom: 0;
}

.delete-order button:hover {
    background-color: rgb(212, 52, 52);
}