.payments {
    display: flex;
    flex: 2;
    flex-direction: column;
    align-items: center;
    width: 100%;

    box-sizing: border-box;

    padding: 7px;
    gap:  10px;

    color: rgb(31, 61, 46);
}

.payments-header {
    width: 250px;
    border-radius: 5px;

    background-color: rgb(9, 59, 31);
    color: white;

    text-align: center;
}

/* ALL PAYMENTS */

.all-payments {
    width: 100%;
    background-color: rgb(250, 249, 240);
    border-radius: 5px;
}

.all-payments h2 {
    margin: 0 auto;
    width: 100%;
    border-radius: 5px 5px 0 0;
    text-align: center;

    height: 40px;

    background-color: rgb(66, 110, 86);
    color: white;
}

.all-payments thead {
    background-color: rgb(208, 236, 220);

}

/* FIND PAYMENT */

.find-payment {
    display: flex;
    flex-direction: column;

    background-color: rgb(250, 249, 240);
    border-radius: 5px;

    width: 100%;

    box-sizing: border-box;
    align-items: center;

    gap: 9px;
}

.find-payment h2 {    
    margin: 0 auto;
    width: 100%;
    border-radius: 5px 5px 0 0;
    text-align: center;

    height: 40px;

    background-color: rgb(66, 110, 86);
    color: white;
}

.find-payment p {
    margin: 0;
}

.find-payment-table {
    width: 100%;
}


/* CREATE PAYMENT */

.create-payment {
    background-color: rgb(250, 249, 240);
    padding-bottom: 7px;

    box-sizing: border-box;
    border-radius: 5px;
}

.create-payment h2 {
    text-align: center;
    height: 40px;

    border-radius: 0;
    margin: 0;
    border-radius: 5px 5px 0 0;

    background-color: rgb(66, 110, 86);
    color: white;
}

.create-payment form {
    display: flex;
    flex-direction: column;

    align-items: center;
    padding: 10px 0;

    gap: 8px
}

.payments .find-and-create {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
}

.find-and-create > * {
    flex: 1;
}

.payments .find-order {
    display: flex;
    flex-direction: column;

    background-color: rgb(250, 249, 240);
    border-radius: 5px;
    padding: 0 0 10px 0;

    box-sizing: border-box;
    align-items: center;

    gap: 6px;
}

.payments .find-order h2 {
    text-align: center;
    height: 40px;

    border-radius: 5px 5px 0 0;
    width: 100%;
    margin: 0;

    background-color: rgb(66, 110, 86);
    color: white;
}


/* UPDATE PAYMENT */

.update-payment {
    display: flex;
    flex-direction: column;

    background-color: rgb(250, 249, 240);
    border-radius: 5px;

    width: 100%;
}

.update-payment form {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
    padding: 10px 0;

    gap: 8px;
    width: 100%;
    flex-wrap: wrap;
}

.update-payment-row {
    display: flex;
    flex-basis: 100%;
    justify-content: center;

    padding-top: 10px;
}

.update-payment h2 {
    text-align: center;
    margin-top: 0;

    border-radius: 5px 5px 0 0;
    height: 40px;

    background-color: rgb(66, 110, 86);
    color: white;
}

/* DELETE PAYMENT */

.delete-payment {
    background-color: rgb(255, 239, 239);
    width: 100%;
    border-radius: 5px;
    
    box-sizing: border-box;
}

.delete-payment form {
    display: flex;
    flex-direction: column;

    gap: 10px;
    margin: 20px;

    align-items: center;
}

.delete-payment h2 {
    text-align: center;
    border-radius: 5px 5px 0 0;
    margin-top: 0;

    height: 40px;

    background-color: rgb(97, 32, 32);
    color: white;
}

.delete-payment button {
    height: 40px;
    background-color: rgb(97, 32, 32);
    color: white;

    border-radius: 5px;
    border: none;

    margin-bottom: 0;
}

.delete-payment button:hover {
    background-color: rgb(212, 52, 52);
}