.shipments {
    display: flex;
    flex: 2;
    flex-direction: column;
    align-items: center;
    width: 100%;

    box-sizing: border-box;

    padding: 7px;
    gap: 10px;

    color: rgb(31, 61, 46);
}

.shipments-header {
    width: 250px;
    border-radius: 5px;

    background-color: rgb(9, 59, 31);
    color: white;

    text-align: center;
}

.all-shipments {
    width: 100%;
    background-color: rgb(250, 249, 240);
    border-radius: 5px;
}

.all-shipments thead {
    background-color: rgb(208, 236, 220);

}