.shipments {
    display: flex;
    flex: 2;
    flex-direction: column;
    align-items: center;
    width: 100%;

    box-sizing: border-box;

    padding: 7px;
    gap: 10px;

    color: rgb(31, 61, 46);
}

.shipments-header {
    width: 250px;
    border-radius: 5px;

    background-color: rgb(9, 59, 31);
    color: white;

    text-align: center;
}

/* ALL SHIPMENTS */

.all-shipments {
    width: 100%;
    background-color: rgb(250, 249, 240);
    border-radius: 5px;
}

.all-shipments h2 {
    margin: 0 auto;
    width: 100%;
    border-radius: 5px 5px 0 0;
    text-align: center;

    height: 40px;

    background-color: rgb(66, 110, 86);
    color: white;
}

.all-shipments thead {
    background-color: rgb(208, 236, 220);

}

/* FIND SHIPMENT */

.find-shipment {
    display: flex;
    flex-direction: column;

    background-color: rgb(250, 249, 240);
    border-radius: 5px;

    width: 100%;

    box-sizing: border-box;
    align-items: center;

    gap: 9px;
}

.find-shipment h2 {
    margin: 0 auto;
    width: 100%;
    border-radius: 5px 5px 0 0;
    text-align: center;

    height: 40px;

    background-color: rgb(66, 110, 86);
    color: white;
}

.find-shipment p {
    margin: 0
}

.find-shipment-table {
    padding-bottom: 9px;
    margin-top: 0;
    width: 95%;
}

/* CREATE SHIPMENT */

.shipments .create-shipment {
    background-color: rgb(250, 249, 240);
    padding-bottom: 7px;

    box-sizing: border-box;
    border-radius: 5px;
}

.shipments .create-shipment h2 {
    text-align: center;
    height: 40px;

    border-radius: 0;
    margin: 0;
    border-radius: 5px 5px 0 0;

    background-color: rgb(66, 110, 86);
    color: white;
}

.shipments .create-shipment form {
    display: flex;
    flex-direction: column;

    align-items: center;
    padding: 10px 0;

    gap: 8px
}

.shipments .find-and-create {
    display: flex;
    flex-direction: row;

    width: 100%;
    gap: 10px;
}

.shipments .find-and-create > * {
    flex: 1;
}

.shipments .find-order {
    display: flex;
    flex-direction: column;

    background-color: rgb(250, 249, 240);
    border-radius: 5px;
    padding: 0 0 10px 0;

    box-sizing: border-box;
    align-items: center;

    gap: 6px;
}

.shipments .find-order h2 {
    text-align: center;
    height: 40px;

    border-radius: 5px 5px 0 0;
    width: 100%;
    margin: 0;

    background-color: rgb(66, 110, 86);
    color: white;
}

/* UPDATE SHIPMENT */

.update-shipment {
    display: flex;
    flex-direction: column;

    background-color: rgb(250, 249, 240);
    border-radius: 5px;

    width: 100%;
}

.update-shipment form {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
    padding: 10px 0;

    gap: 8px;
    width: 100%;
    flex-wrap: wrap;
}

.update-shipment-row {
    display: flex;
    flex-basis: 100%;
    justify-content: center;

    padding-top: 10px;
}

.update-shipment h2 {
    text-align: center;
    margin-top: 0;

    border-radius: 5px 5px 0 0;
    height: 40px;

    background-color: rgb(66, 110, 86);
    color: white;
}

/* DELETE SHIPMENT */

.delete-shipment {
    background-color: rgb(255, 239, 239);
    width: 100%;
    border-radius: 5px;
    
    box-sizing: border-box;
}

.delete-shipment form {
    display: flex;
    flex-direction: column;

    gap: 10px;
    margin: 20px;

    align-items: center;
}

.delete-shipment h2 {
    text-align: center;
    border-radius: 5px 5px 0 0;
    margin-top: 0;

    height: 40px;

    background-color: rgb(97, 32, 32);
    color: white;
}

.delete-shipment button {
    height: 40px;
    background-color: rgb(97, 32, 32);
    color: white;

    border-radius: 5px;
    border: none;

    margin-bottom: 0;
}

.delete-shipment button:hover {
    background-color: rgb(212, 52, 52);
}