.app-layout {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    min-height: calc(100vh - 60px);
    min-width: calc(100vh - 60px);
}

body {
    background-color: rgb(166, 206, 190);
    padding-bottom: 30px;
}